<ul class="list-unstyled site-tag fa-ul">
    {{#foreach tags}}
      <li class="{{#if current}} nav-current{{/if}}"><i class="fa-li fa fa-tag"></i> <a href="{{url absolute="true"}}" data-count="{{post_count}}">{{name}}</a></li>
    {{/foreach}}
</ul>
