<ul class="list-unstyled site-tag">
    {{#foreach tags}}
      <li class="{{#if current}} nav-current{{/if}}"><a href="{{url absolute="true"}}" data-count="{{post_count}}">{{name}}</a></li>
    {{/foreach}}
</ul>
