<!DOCTYPE html>
<html lang="zh">
{{! Ghost outputs head}}
{{> head}}

<body class="{{body_class}}">
    <div class="container-fluid">
        <div class="row">
            {{! Ghost outputs sidebar}}
            {{> sidebar}}
            {{! Ghost outputs body}}
            <div class="col-lg-6">{{{body}}}</div>
        </div>
        <div class="row site-info">
          {{! Ghost outputs footer}}
          {{> footer}}
        
        </div>
    </div>   
{{ghost_foot jquery=false}}
{{! The main JavaScript file for Jsdrip }}
<script type="text/javascript" src="{{asset "js/index.js"}}"></script>
</body>
</html>