<!DOCTYPE html>
<html lang="zh">
{{! Ghost outputs head}}
{{> head}}

<body class="{{body_class}}">
    <div class="site-actions">
        <a class="site-bars">
           <i class="fa fa-bars"></i>
        </a>
        <a class="back-top">
           <i class="fa fa-arrow-up"></i>
        </a>
    </div>
    <div class="container-fluid">
        <div class="row">
            {{! Ghost outputs sidebar}}
            <div class="col-lg-2 site-sidebar">{{> sidebar}}</div>
            {{! Ghost outputs body}}
            <div class="col-lg-6 site-content col-md-11" >{{{body}}}</div>
            {{! Ghost outputs widget}}
            <div class="col-lg-3 site-widget">{{> widget}}</div>
        </div>
        <div class="row site-info">
          {{! Ghost outputs footer}}
          {{> footer}}
        
        </div>
    </div>   
    {{ghost_foot jquery=false}}
{{! The main JavaScript file for Jsdrip }}
<script type="text/javascript" src="{{asset "js/index.js"}}"></script>
</body>
</html>