{{!< default}}
{{#post}}
<article id="{{id}}" class="row">
	<header class="post-header">	    
		<h2><a href="{{url}}">{{title}}</a></h2>		
	</header>
	<section class="post-content">
		{{content}}
	</section>
</article>
{{/post}}