@media (min-width: 1200px){
	.site-actions + .container-fluid {
		padding: 80px 95px 0;
	}
}
@media (min-width: 992px) {

}
@media (min-width: 768px) {

}
@media screen and (max-width: 767px){

}
/**common**/
a{
	color: #000;
}
a:hover,.nav-current a{
	color: #7cc576;
}
/**base**/
.site-info{
	border-top: 5px solid #333;
	width: 100%;
	padding: 20px 0 40px;
	border-top: 5px solid #333;
	font-size: 12px;
	line-height: 20px;
	color: #aaa;
	background: #fff;
}
/**actions**/
.site-actions{
	position: fixed;
	width: 40px;
	height: 100%;
	left: 0;
	background: #222;
}
.back-top{
	width: 39px;
	height: 39px;
	text-align: center;
	line-height: 40px;
	display: block;
	position: fixed;
	bottom: 0px;
	cursor: pointer;
	color: #444;
	border-top: 1px solid #333;
	transition: color .3s, background-color .3s;
}
.back-top:hover span,
.back-top:hover {
	color: #fff;
	background: #111;
}
/**sidebar**/
.site-sidebar{
	padding-right: 44px;
}
.site-nav li{
	overflow: hidden;
	position: relative;
	margin-top: 10px;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 20px;
}

.site-content{
    margin-left: 30px;
}
/**post**/
.post-list{
	margin-bottom: 80px;
}
.more-like{
	display: block;
	margin-top: 30px;
}
.more-like span{
	background-color: #333;
	color: #fff;	
	transition: all 0.3s;
}
.more-like:hover span{
	background-color: #7cc576;
	color: #fff;
}